{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-12">Beast name </h1>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="" class="float-right">Edit</a>
        </div>
    </div>
    <div class="row detail">
        <figure class="col-12 col-md-4">
            <img src="" class="img-fluid"/>
        </figure>
        <div class="col-12 col-md-8">
            <p>Area : </p>
            <p>Size : </p>
            <p>Planet :  </p>
            <p>Movie(s) :</p>
        </div>
    </div>
    <a href="/beasts">Back</a>
{% endblock %}
