{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-12">Beast name </h1>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="#{# url to edition page #}" class="float-right">Edit</a>
        </div>
    </div>
    <div class="row detail">
        <figure class="col-12 col-md-4">
            <img src="{# Beast's picture url#}" class="img-fluid"/>
        </figure>
        <div class="col-12 col-md-8">
            {% for beast in details %}
            <p>Area : {{ beast.Area }}</p>
            <p>Size : {{  beast.Size}}</p>
            <p>Planet : {{ beast.Planet }} </p>
            <p>Movie(s) : {{ beast.Name  }}</p>
            {% else %}
                <li>Nothing to display</li>
            {% endfor %}
        </div>
    </div>
    <a href="/beasts">Back</a>
{% endblock %}
